<div class="container">
  <div class="flex items-start w-full">
    <h1 class="text-2xl font-bold text-maincolor p-5">
      TOMATODO
    </h1>
    <h1 class="ml-auto items-end icon">
      <i class="fas fa-cog p-5 text-2xl text-maincolor"></i>
    </h1>
  </div>
</div>

<div>
  <div class="flex items-center justify-center popup-general">
    <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4" (click)="popup.openPopup()">Open Popup</button>
  </div>
  <app-button-confirm #popup></app-button-confirm>
</div>